/* this file affects the fractal components when fractal-runner is run. */
#fractal-user-state-toggle,
#fractal-theme-switcher,
#electron-dev-tool {
  display: none;
}

body, html {
  height: 100% !important;
  overflow-x: auto !important;
}

.navigation-logo__badge {
  display: none !important;
}
